*{
	margin:0;
	padding:0;
	font-family: 'Ubuntu', sans-serif;
	font-weight:300;
}
body, body > *, #container > *{
	height:100%;
}
a{
	text-decoration:none;
	color:#000;
}
h1 >*{
	
	color:#FFF;
}
ul{
	list-style-type:none;
}
.title{
	font-family: 'Ubuntu', sans-serif;
	font-weight:400;
}
#sidebar{
	float:left;
	width:250px;
	position:fixed;
	overflow:auto;
	background-color:#FFD633;
}

#content{
	background-color:#E4F1F6;
}

#logo{
	text-align:center;
	margin-bottom:30px;
}

nav{
	width:100%;
}
nav ul li {
	display:block;
}
nav ul li a{
	font-size:1.3em;
	padding:10px 5px;
	padding-left:15px;
	color:#FFF;
	text-shadow:0.03em 0.03em 0.05em #000;
	display:block;

}
nav ul li a:hover{
	background-color:#4DA2BF;
}

input{
	border: 2px solid #DEDEDE; 
  padding: 5px;
  box-shadow: 1px 1px 2px #888888;
  margin: 0 0 10px 0;
  font-size:1.3em;
}

@media (min-width: 768px){
	#content{
		margin-left:250px;
		padding:30px;

	}
}