extends layout

block content
	br
	p Log in
	br
	form(action='/auth/local', method='post')
		input(type='text', name='username')
		input(type='password', name='password')
		input(type='submit')
	br
	p Sign Up
	br
	form(action='/auth/signup', method='post')
		label First name
		br
		input(type='text', maxlength='25', name='firstname')
		br
		label Last name
		br
		input(type='text', maxlength='40', name='lastname')
		br
		label Email
		br
		input(type='text', name='email', maxlength='200')
		br
		label Password
		br
		input(type='password', name='password', maxlength='200')
		br
		input(type='submit')