doctype 5
html
	head
		title #{title}
		link(rel='stylesheet', href='/css/main.css')
	body
		block content
		div#container
			div#sidebar
				h1 Youtaan
				div#sidebarTop
					block sidebarTop
				div#sidebarBottom
					block sidebarBottom
			div#content
				