*
	font-family  'Ubuntu', sans-serif
	font-weight 300
	padding 0
	margin 0
	color #FFF
body
	height 100%
	width 100%



	h1
		text-align center
h3
	color #000
.error
	color red
#sidebar nav 
	width 100% 
 
#sidebar nav ul li, #projectList li 
	display block 
 
#sidebar nav ul li a, #projectList ul li a
	font-size 1.3em 
	padding 10px 5px 
	padding-left 15px 
	color #FFF 
	display block 
	&:hover
		background-color #4DA2BF 
.view
	background-color #4DB8DB
#content 
	margin-left 250px
	position absolute
	right 0
	left 0
	text-align center
	height 100%
h4
	font-size 1.5em
	margin-bottom 50px


#headline
	font-size 5em
	text-align center
a
	text-decoration none
	color white
.logo
	padding 0px 10px
input, textarea 
	border 1px solid #DEDEDE
	color #000
	display block
	padding 5px
	margin 10px 10px 10px 10px
	font-size 1.2em 
	width 200px
	&[type='submit']
		border none
		padding:10px
		background-color #E4F1F6
		&:hover
			background-color #EFF7FA

.frontPageForm
	margin-left auto
	margin-right auto
b
	font-weight 400
#how
	text-align center
	padding 50px
	font-size 1.3em
	h2
		font-size 3em
	#intro
		width 800px
		margin-left auto
		margin-right auto

#about
	height 100%
	p 
		padding-top 20%

@media (min-width: 992px)

	#login-signup
		width 502px

		margin-left auto
		margin-right auto
		background-color white
		height 350px
		padding 30px
	.signup
		float left
		height 100%
		padding-right 30px
		border-right 1px solid #CCE6FF
	.login
		height 100%
		float left
		margin-left 30px
		margin-top 40px
	#sidebar 
		float left 
		width 250px 
		position fixed 
		overflow auto 
		background-color #FFD633
		max-height 100%
		min-height 100%