border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
transition()
	transition arguments
	-webkit-transition arguments
//------------------Universals------------
*
	margin 0 
	padding 0 
	font-family  'Ubuntu', sans-serif 
	font-weight 300 

body, body > *, #container > *:not(#content)
	height 100%

a
	text-decoration none
	color #000

h1 >* 
	color #FFF

ul 
	list-style-type none 

input, textarea 
	-webkit-appearance none
	border 1px solid #DEDEDE
	padding 5px
	margin 10px 10px 10px 10px
	font-size 1.2em 
	
	&[type='submit'], &[type='button']
		border none
		padding:10px
		background-color #82CDE6
		&:hover
			background-color #A6DCED


.title 
	font-family  'Ubuntu', sans-serif 
	font-weight 400
	

.textcenter 
	text-align center 
	width 100%
#sidebar 
	float left 
	width 250px 
	position fixed 
	overflow auto 
	background-color #FFD633
	max-height 100% 
#toggleSidebar
	margin-left 210px
	height 50px
	max-height 50px
	z-index 10
	color #FEFEFE
	position absolute
	&:hover
		color #DEDEDE

#content 
	background-color #4DB8DB
	margin-left 250px
	padding-left 50px
	position absolute
	right 0
	left 0
	min-height 100%
#logo 
	text-align center 
	margin-bottom 30px 

//----------------Specific Pages---------------
// Sidebar
#sidebar nav 
	width 100% 
 
#sidebar nav ul li, #projectList li 
	display block 
 
#sidebar nav ul li a, #projectList ul li a
	font-size 1.3em 
	padding 10px 5px 
	padding-left 15px 
	color #FFF 
	display block 
	&:hover
		background-color #4DB8DB

#projectList
	border-bottom 1px solid #FFF
#pListLabel
	text-align center
	color #FFF
	width 100%
	border-bottom 1px solid #FFF
	padding-bottom 10px
	font-size:1.5em
		
// New Project 
.new-project-form 
	width 500px 
	max-width 500px 
	float left


// Single Project
#project
	background-color #4DB8DB

.projectColumnContainer
	float left
	width 400px
	background-color:#FFF
	padding 0px 20px 20px
	margin 20px 20px
	border 1px solid #CCE6FF
	border-radius(1px)
.projectDescriptionBox

	background-color #FFF
	border 1px solid #CCE6FF
	padding 0px 20px 20px
	margin 20px 20px

.projectColumnTitle, .projectTitle, .exploreProjectBox > h3
	border-bottom 1px solid #E4F1F6
	width 100%
	font-size 1.5em
	margin 10px 0px

.projectTitle
	font-size 2.0em
	
.new-thing-form
	width 100px
	input:not([type='submit'], [type='button'])
		max-width 80%

.projectColumnContainerList
	height 600px
	overflow-y scroll
	li
		padding 10px
		&:nth-child(odd)
			background-color #F7FBFC
			&:hover
				background-color:#FFF
.deletable
	&:hover
		color #FF6666
	float right
// Explore
#exploreContainer
	//margin-left 30px

.exploreProjectBox
	display block
	float left
	padding 15px 30px
	background-color #FFF
	border 1px solid #CCE6FF
	margin 5px 5px
	width 300px
	height 250px
	h3
		font-size 1.5em
		margin-bottom 10px
	
	&:hover
		background-color:#F4F9FB

.join-form
	float right
	margin-right 40px
	input[type='submit']
		padding 40px
		font-size 1.8em

/* Scrollbar */

::-webkit-scrollbar
	width 15px
::-webkit-scrollbar
	background-color #FFE270
::-webkit-scrollbar-thumb
	background-color #191919
	&:hover 
		background-color:#282828
::-webkit-scrollbar-button 
	background-color #D1D1D1
::-webkit-scrollbar-corner
	background-color black
/* end of Scrollbar*/